<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.cycling"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- Push SDK权限 -->
    <permission
        android:name="cn.bmob.permission.push"
        android:protectionLevel="normal" >
    </permission>

    <uses-permission android:name="cn.bmob.permission.push" /> <!-- 添加自定义的权限 -->

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:name=".CyclingApplication"
        android:allowBackup="true"
        android:icon="@drawable/cycling_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="android.test.runner" />

        <activity
            android:name=".activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeActivityTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.RegisteActivity"
            android:label="@string/registe"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/registe"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activities.UserEditorActivity"
            android:label="@string/user_edit"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activities.IssueEditorActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activities.ContactDetailActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activities.NewFriendActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity android:name=".activities.SelectPicturesActivity" >
        </activity>
        <activity android:name=".activities.ChatActivity" >
        </activity>
        <activity android:name=".activities.LocationActivity" >
        </activity>

        <service
            android:name="CycingSaveService"
            android:exported="false" />

        <provider
            android:name=".provider.CyclingProvider"
            android:authorities="com.android.cycling"
            android:exported="false" >
            <grant-uri-permission android:pathPattern=".*" />
        </provider>

        <!-- IM聊天所需的Push start -->
        <service
            android:name="cn.bmob.push.lib.service.PushService"
            android:exported="true"
            android:label="PushService"
            android:permission="cn.bmob.permission.push"
            android:process="cn.bmob.push" >
            <intent-filter>
                <action android:name="cn.bmob.push.lib.service.PushService" />
            </intent-filter>
        </service>

        <receiver android:name="cn.bmob.push.PushReceiver" >
            <intent-filter android:priority="2147483647" > <!-- 优先级加最高 -->
                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- 解锁完成后会调用 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <!-- 监听网络连通性 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".interactions.CyclingMessageReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="cn.bmob.push.action.MESSAGE" />
            </intent-filter>
        </receiver>

        <!-- IM聊天所需的Push end -->


        <!-- 启动定时检测操作 -->
        <service android:name="cn.bmob.im.poll.BmobPollService" >
            <intent-filter>
                <action android:name="cn.bmob.im.service.BmobPollService" />
            </intent-filter>
        </service>
    </application>

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="TestApi"
        android:targetPackage="com.android.cycling" >
    </instrumentation>

</manifest>