<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.cycling"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    
    <!-- Push SDK权限 -->
    <permission android:protectionLevel="normal" android:name="cn.bmob.permission.push"></permission>
    <uses-permission android:name="cn.bmob.permission.push"/><!-- 添加自定义的权限-->

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    
    <application
        android:name=".CyclingApplication"
        android:allowBackup="true"
        android:icon="@drawable/cycling_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        >
        
        <uses-library android:name="android.test.runner"/>
        
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:label="@string/registe"
        	android:name=".activities.RegisteActivity"
        	android:windowSoftInputMode="stateHidden">
        </activity>
        
        <activity 
            android:label="@string/registe"
        	android:name=".activities.LoginActivity"
        	android:windowSoftInputMode="stateHidden"
        	>
        </activity>
        
        <activity 
            android:label="@string/user_edit"
        	android:name=".activities.UserEditorActivity"
        	android:windowSoftInputMode="stateHidden" 
        	>
        </activity>
        
        <activity 
        	android:name=".activities.IssueEditorActivity"
        	android:windowSoftInputMode="stateHidden"
        	>
        </activity>
        
        <activity 
        	android:name=".activities.ContactEditorActivity"
        	android:windowSoftInputMode="stateHidden"
        	>
        </activity>
        
        <activity 
        	android:name=".activities.SelectPicturesActivity">
        </activity>
        
        <service android:name="CycingSaveService"
            android:exported="false"/>
        
        <provider android:name=".provider.CyclingProvider"
            android:authorities="com.android.cycling"
            android:exported="false">
            <grant-uri-permission android:pathPattern=".*" />
        </provider>
    </application>
    
    <instrumentation 
        android:targetPackage="com.android.cycling"
        android:name="android.test.InstrumentationTestRunner" 
        android:label="TestApi">
    </instrumentation>

</manifest>
